<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="HolyCluster" Version="1.0.0.0" Manufacturer="IARC" UpgradeCode="3b18a036-0994-49f3-8683-1f15163e9a7b">
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="MANUFACTURERFOLDER" Name="!(bind.Property.Manufacturer)">
                <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
                    <Directory Id="INTERNAL" Name="_internal"></Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <Files Directory="INTERNAL" Include="dist\HolyCluster\_internal\**"/>
        <File Source="dist\HolyCluster\HolyCluster.exe">
            <Shortcut
                Id="DesktopShortcut"
                Name="HolyCluster"
                Directory="DesktopFolder"
                WorkingDirectory="INSTALLFOLDER"
            />
        </File>
    </Package>
</Wix>
